absl-py
accelerate
aiohttp
aiosignal
alabaster
annotated-types
anyio
anytree
arrow
asgiref
assemblyai
asttokens
astunparse
async-timeout
attrs
Babel
beautifulsoup4
bert-score
bibtexparser
blinker
blis
boto3
botocore
bpemb
bs4
cachetools
camelot-py
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cmdstanpy
colorama
confection
conllu
contourpy
cryptography
cycler
cymem
dash
dash-core-components
dash-html-components
dash-table
datasets
decorator
Deprecated
dill
distro
Django
docopt
docutils
editdistance
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile
exceptiongroup
executing
fake-useragent
filelock
flair
Flask
flatbuffers
fonttools
free-proxy
frozenlist
fsspec
ftfy
gast
gdown
gensim
geographiclib
geopy
ghostscript
git-filter-repo
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-language
google-cloud-speech
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gspread
gunicorn
h11
h5py
hdbscan
holidays
httpcore
httplib2
httpx
huggingface-hub
ibm-cloud-sdk-core
ibm-watson
idna
imagesize
imbalanced-learn
importlib-metadata
importlib_resources
ipython
itsdangerous
Janome
jedi
jieba
Jinja2
jmespath
joblib
jsonpickle
keras
keyboard
kiwisolver
langcodes
langdetect
language-tool-python
lemminflect
libclang
lru-dict
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
more-itertools
mpld3
mpmath
multidict
multiprocess
murmurhash
nest-asyncio
networkx
nltk
num2words
numpy
oauth2client
oauthlib
openai
openalexapi
opencv-python
OpenHowNet
openpyxl
opt-einsum
outcome
packaging
pandas
parso
patsy
pdf2image
pdfminer.six
pdfplumber
pillow
pinyin
plotly
pptree
preshed
prompt_toolkit
prophet
proto-plus
psutil
pure_eval
purl
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
PyAudio
pycparser
pydantic
pydantic_core
Pygments
pygsheets
PyJWT
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
python-louvain
pytorch_revgrad
pytrends
pytz
pyvis
PyYAML
regex
requests
requests-oauthlib
retrying
rsa
s3transfer
safetensors
scholarly
scikit-learn
scipy
segtok
selenium
semver
sentence-transformers
sentencepiece
seqeval
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlitedict
sqlparse
srsly
stack-data
stanfordnlp
stanio
statsmodels
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminaltables
textattack
thinc
threadpoolctl
tokenizers
tomli
torch
tqdm
traitlets
transformer-smaller-training-vocab
transformers
trio
trio-websocket
typer
types-python-dateutil
typing_extensions
tzdata
uritemplate
urllib3
waitress
wasabi
wcwidth
weasel
websocket-client
websockets
Werkzeug
Wikipedia-API
word2number
wrapt
wsproto
xxhash
yarl
zipp
